<header class="header">
    <video autoplay muted loop src="https://cdn.videvo.net/videvo_files/video/free/2018-05/small_watermarked/empo008_preview.webm"></video>
    <div class="container">
        <h1>LevelUp - мощнейшее средство для повышения потенции</h1>
        <div class="header-box">
            <div class="header__left">
                <img src="img/prod.png" alt="">
            </div>
            <div class="header__right">
                <ul>
                    <li>Супер новое средство</li>
                    <li>Длительный эффект</li>
                    <li>Низкая цена</li>
                </ul>
                <a href="#form" class="btn">Заказать</a></div>
        </div>
    </div>
</header>